<label>user</label> <br>
<a href="login">login</a> <br>
<a href="register">register</a> <br>
<a href="deleteUser">deleteUser</a> <br>
<a href="modifyUserNickname">modifyUserNickname</a> <br>
<a href="modifyUserHeadpic">modifyUserHeadpic</a> <br> 
<a href="logout">logout</a> <br>

<br><label>folders</label> <br>
<a href="getFolders">getFolders</a> <br>
<a href="updateFolders">updateFolders</a> <br> 

<br><label>note</label> <br>
<a href="getNote">getNote</a> <br>
<a href="updateNote">updateNote</a> <br>
<a href="deleteNote">deleteNote</a> <br>