<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rustling server</title>
</head>
<body>
  <label> Update Note </label>
  <form action="/updateNote" method="post">
    <p>
      <label>NoteID:
        <input type="text" name="noteid" value="" />
      </label>
    </p>
    <p>
      <label>Type:
        <input type="number" name="type" value="" />
      </label>
    </p>
    <p>
      <label>Content:
        <input type="text" name="content" value="" />
      </label>
    </p>
    <p>
      <button type="submit">Update</button>
    </p>
  </form>
</body>
</html>
