<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rustling server</title>
</head>
<body>
  <label> Update Folders </label>
  <form action="/updateFolders" method="post">
    <p>
      <label>Username:
        <input type="text" name="username" value="" />
      </label>
    </p>
    <p>
      <label>Folders:
        <input type="text" name="folders" value="" />
      </label>
    </p>
    <p>
      <button type="submit">Update</button>
    </p>
  </form>
</body>
</html>
